<%= render partial: "layouts/navbar" %>

<div class="container">
  <div class="row">

    <div class="users-index">
      <h2>Artists/Supporters</h2>
    </div>
    <div>
      <% @users.map do |user| %>
        <div class="col-md-3 user-stuff">
          <%= image_tag user.avatar.url(:medium), class: "img-circle" %> <br/>
          <%= link_to user.name, users_collections_path(id: params[:id]) %> <br/>
          <%= user.email %>
      <% end %>
      </div>
    </div>

  </div>
</div>
