<div>
  <div class="welcome-logo" role="group" aria-label="Art Sup">
    <a href="<%= dashboard_path %>" type="button" class="btn btn-default" id="welcome-art">Art
      <span class="welcome-hover">[ist]</span><br/>
      Sup
      <span class="welcome-hover">[porter]</span>
    </a>
  </div>
</div>