<div class="welcome-logo">
  <a href="<%= dashboard_path %>" type="button" class="btn" id="welcome-art">Art
    <span class="welcome-hover">[ist]</span><br/>
    Sup
    <span class="welcome-hover">[porter]</span>
  </a>
</div>