<%= render partial: "layouts/navbar" %>

<div class="container">

  <div class="row">
    <h3>Thank you for supporting <%= @user.name %> by purchasing the following item on their wishlist: </h3>

    <div class="itemConfirm">
      <%#= @title %>
      <%#= image_tag @image %>
      <%#= @price %>
      <%#= @quantity %>
      <%#= @asin %>
    </div>

    <h4>Once you have finished paying for the item on Amazon click here to choose your gift!</h4>
  </div>
</div>