/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,300);

/* Body */

body {
  font-family: 'Hind Siliguri', sans-serif;
}

/* WELCOME PAGE */

.welcome-page {
  font-family: 'Gochi Hand', cursive;
}

/* Welcome Background */

.welcome-background {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Welcome Logo */

.welcome-logo {
  background-color: rgba(10, 170, 255, 0.8);
  width: 28%;
  display: block;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  padding: 2%;
}

.welcome-hover {
  color: rgba(51, 51, 51, 0.8);
  visibility: hidden;
}

.welcome-logo:hover {
  .welcome-hover {
    visibility: visible;
  }
}

#welcome-art {
  color: #FFF;
  font-size: 100px;
}

#welcome-sup {
  color: #0AAAFF;
}

/* Amazon Login Button */

.login {
  margin-top: 1%;
}

.login-text {
  color: rgba(51, 51, 51, 0.8);
  font-size: 2em;
  margin-left: 545px;
}

#LoginWithAmazon {
  border: 2px solid rgba(51, 51, 51, 0.8);
  border-radius: 50%;
  &:hover {
    border: 2px solid #FF0670;
  }
}

/* Navbar */

.navbar-nav {
  font-family: 'Hind Siliguri', sans-serif;
}

.header-nav {
  background-color: #0AAAFF;
  //border-radius: 14px;
}

.nav-item-border {
  margin-top: 5px;
  border-right: 1px solid #FFF;
}

.nav {
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 1.4em;
}

.navbar-header > a {
  font-size: 60px;
  color: #FFF;
  margin-top: -1px;
  padding-top: 0.3em;
}

#bs-example-navbar-collapse-1 > ul > li > a {
  color: #FFF;
  &:hover {
    background: #333333;
  }
}

#bs-example-navbar-collapse-1 > ul > li > a#avatar-holder {
  color: #FFF;
  &:hover {
    background: rgba(255, 255, 255, 0);
  }
}

#left-dropdown:hover {
  .caret {
    color: #FF0670;
  }
}

.navbar-default .navbar-brand {
  color: #FFF;
  &:hover {
    color: #333;
  }
}

/* Navbar Logo */

.navbar-logo {
  font-family: 'Gochi Hand', cursive;
  &:hover {
    color: #333333;
  }
}

/* Navbar Avatar */

.navbar-avatar {
  width: 40px;
  padding: 0;
  margin-top: -7px;
  margin-bottom: -10px;
  vertical-align: top;
  border-radius: 50%;
  border: 1.4px solid;
}

#avatar-holder:hover {
  .caret {
    color: #FF0670;
  }
  .navbar-avatar {
    border: 1.4px solid #333333;
  }
}

/* Navbar Search */

.glyphicon-search {
  color: #FFF;
  margin-right: 10px;
  margin-left: 4px;
  &:hover {
    color: #FF0670;
  }
}

#nav-search-bar {
  border-radius: 25px;
}

/* Tabs */

.g-tabs-large {
  font-size: 16px;
  line-height: 1.6;
}

.g-tabs {
  border-bottom: 1px solid #0AAAFF;
  list-style: none;
  margin: 0;
  font-size: 2em;
  line-height: 2;
}

ul {
  list-style: disc;
}

ul, ol {
  padding: 0;
  margin: 0 0 18px 25px;
}

.g-tabs:before, .g-tabs:after {
  content: "";
  display: table;
}

.g-tabs-item:first-child {
  margin-left: 0;
}

.g-tabs-item {
  float: left;
  margin: 0 15px -1px;
}

a.g-tabs-link.active {
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid transparent;
  display: block;
}

a, a:visited {
  color: #38d;
  text-decoration: none;
}

.g-tabs-link, .g-tabs-link:visited {
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid transparent;
  display: block;
}

.g-tabs-link#selected {
  border-color: #f50;
  color: #f50;
  cursor: default;
}

.g-tabs:after {
  clear: both;
}

.g-tabs:before, .g-tabs:after {
  content: "";
  display: table;
}

.right {
  float: right
}

/* Right Sidebar */

.l-fluid-fixed .l-sidebar-right {
  display: inline-block;
  position: relative;
  top: 30px;
  bottom: 0;
  right: 0;
  width: 300px;
}

.statistics {
  border: solid 2px #0AAAFF;
}

.l-fluid-fixed .l-main {
  padding: 30px 30px 0 0;
  margin: 0 330px 0 0;
}

.sc-border-light-right {
  border-right: 1px solid #f2f2f2;
}

.sc-clearfix:before, .sc-clearfix:after {
  content: "";
  display: table;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

a.sc-link-light {
  color: #999;
}

a, a:visited {
  color: #38d;
  text-decoration: none;
}

.sidebar-header {
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 4px;
  border-bottom: 1px solid #f2f2f2;
}

a, a:visited {
  color: #38d;
  text-decoration: none;
}

.statsBadge__recent {
  width: 100%;
  margin: 10px 0 0 0;
}

.sc-type-small {
  font-size: 14px;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.stats {
  color: #0AAAFF;
}

/* Wish List Items */

.wish-list-items {
  margin: 1%;
  border: solid 2px #0AAAFF;
  margin-bottom: 14px;
  height: 280px;
  width: 270px;
}

.wish-list-items-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
}

.thumbnail {
  display: table;
  min-height: 120px;
  //max-width: 112px;
  max-height: 120px;
  margin: 0;
  text-align: center;
  font-size: 12px;
}

.thumbnail-image {
  min-height: 60px;
  max-height: 70px;
}

/* Dashboard Tabs */

.g-tabs:before, .g-tabs:after {
  content: "";
  display: table;
}

.g-tabs-item:first-child {
  margin-left: 0;
}

.g-tabs-item {
  float: left;
  margin: 0 15px -1px;
}

a.g-tabs-link.active {
  cursor: pointer;
  color: #FFF;
  display: block;
}

.g-tabs-link, .g-tabs-link:visited {
  cursor: pointer;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  display: block;
}

.g-tabs-link#selected {
  color: #FFF;
  cursor: default;
}

.g-tabs:after {
  clear: both;
}

.g-tabs:before, .g-tabs:after {
  content: "";
  display: table;
}

.right {
  float: right
}

.dash-tabs {
}

/* Forms */

.form-group {
  width: 50%;
}

/* Dashboard */

.dashboard-content {
  border-bottom: 1px solid #0AAAFF;
}

.dashboard-top-banner {
  background: #0AAAFF;
  color: #F7F7F7;
}

/* Dashboard: Current Collection */

.collection-info {
}

.current-collection {
  padding-left: 1%;
}

.current-collection-images {
  border: ridge 2px #333333;
}

.collection-title {
  font-size: 24px;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Dashboard: Story */

.story-dashboard {

}

/* Collections */

.collections-list {
  border-bottom: 1px solid #0AAAFF;
}

.three-content {
  border-right: 1px solid #0AAAFF;
  border-left: 1px solid #0AAAFF;
}

.page-content {
}

.collections-show {
  border: 1px solid #333333;
}

.collection-images {
  width: 200px;
  height: 200px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.piece-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.butt {
  margin-top: 2%;
}

.wish-list-dash {
  height: 245px;
}

.wishlist-images-dash {
  height: 40px;
  width: 40px;
}

.collect-descrip {
  font-size: 18px;
}

.users-index {
  background: #0AAAFF;
  color: #FFF;
}

.user-stuff {
  font-size: 18px;
  text-align: center;
}

#incompleteAddress {
  font-weight: 800;
  color: red;
}

.img-circle {
  width: 100px;
}