<div class="l-sidebar-right">
  <div class="streamSidebar sc-clearfix">
    <h2 class="sidebar-header sc-clearfix sc-link-light">
            <span class="stats">Supporters:</span> <%= 10 %> <br/>
    </h2>

    <h2 class="sidebar-header">
        <span class="stats">Supporting:</span><%= 10 %> <br/>
    </h2>
            <span class="stats">Following:
            </span> <%= 10 %> <br/>
            <span class="stats">Followers:
            </span> <%= 10 %>
  </div>
</div>

